.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffeaea;
    padding: 10px;
    width: 100%;
}

body{
    margin: 0;
    padding : 0;
}

.navBar {
    display: flex;
    list-style: none;
    width: auto;
    justify-content: space-around;
    margin: auto;
}

.navBar li{
    padding: 10px;
    margin: auto;
    font-size: 20px;

}

.collegePage .navLink{
    fort-size: 18px;
    text-decoration: none;  
    margin: 10px;
    
}