.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffeaea;
    padding: 10px;
    width: 100%;
}

body{
    margin: 0;
    padding : 0;
}

.navBar {
    display: flex;
    list-style: none;
    width: auto;
    justify-content: space-around;
    margin: auto;
}

.navBar li{
    padding: 10px;
    margin: auto;
    font-size: 20px;

}

.collegePage .navLink{
    font-size: 18px;
    text-decoration: none;  
    margin: 10px;
    
}

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginPage inputfield {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

#loginbnt {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}