
.heading {
    color: green;
}

.container{
    display: flex;
    flex-direction: row;
}

.imgStyle{
    width: 100px;
    height: 100px;;
}

.card{
    margin: 10px;
    width: 200px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px 1px #ddd;
}

.textWrap{
    padding: 10px;
    margin: 10px;
}