

.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border-color: green;

}

.navBar{
    list-style: none;
    margin: 20px;
    display: flex;
}

.navBar li{
    margin: 20px;
    padding: 10px;
}